<html>
<head>
    <title>login</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <!--<link rel="stylesheet" href="/static/layui/css/layui.css">-->
    <!--<script src="/static/layui/layui.js"></script>-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-sm3"><hr class="layui-bg-white"> </div>
        <div class="layui-col-sm6" style="margin-top:150px;" >
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">userName</label>
                    <div class="layui-input-block">
                        <input id="userName" type="text" name="userName" lay-verify="userId" autocomplete="off" placeholder="please input user name" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">password</label>
                    <div class="layui-input-block">
                        <input id="password" type="password" name="password" lay-verify="password" placeholder="please input password" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="login" id="submit">login</button>
                        <button type="reset" class="layui-btn layui-btn-primary">reset</button>
                    </div>
                </div>
                <!--<div class="layui-form-item">-->
                    <!--<a href="<%=basePath%>register" style="float: right;">没有账号？点我注册</a>-->
                <!--</div>-->
            </form>
        </div>
        <div class="layui-col-sm3"><hr class="layui-bg-white"> </div>
    </div>
</div>
<script>
    /*
          * 可传递参数
          * ajax({
          *     url: 连接
          *     type: get/post
          *     data: 参数
          *     dataType: "json" 默认JSON
          *     selfDeal： 服务器返回处理失败，即data.code !== 0的情况下
          *          =true: 则直接将data传给success()函数
          *          =false: 默认：弹出错误原因后， 再将data传给success()函数
          *     success: 成功回调
          *     error: 失败回调
          *          如果不为空则传递给error方法处理错误情况
          *          如果为空则弹出错误提示及原因
          * })
          */
    layui.use(['jquery', 'form', 'layer'], function(){
        var $ = layui.$;
        var form = layui.form;
        var layer = layui.layer;
        //校验
        form.verify({
            userId: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (value.length == 0) {
                    return "user name can not be null";
                }
            },
            password: [
                /^[\S]{0,12}$/
                ,'the length of password must be within 0~12'
            ]
        });

        form.on('submit(login)', function(data){
            $.ajax({
                url: "doLogin",
                type: "POST",
                async: true,
                data: {'userName':$('#userName').val(), 'password': $('#password').val()},
                dataType: 'text',
                contentType: "application/x-www-form-urlencoded",
                success: function(result) {
                    if(document.write(result).equals("admin") ){
                        window.location.href = "admin";
                    }else{
                        window.location.href = "login";
                    }
                },
                error: function (result) {
                    console.log(result);
                }
            });
            return false;
        });
    });
</script>
</body>
</html>