<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static.css/admin.css">
  <link rel="stylesheet" href="../static/layui/css/layui.css">

  <script src="../static/layui/"></script>
  <script src="../static/js/plotly-latest.min.js"></script>
  <!-- <script src='https://cdn.plot.ly/plotly-latest.min.js'></script> -->
  <script src="../static/js/member.js"></script>
    <title></title>
</head>
<body style="background-color: white;">
   

    <!-- 不同模块切换 （小组数据/成员数据/活动数据） -->
          
            <!-- 成员数据展示 -->
              <!-- 第一部分 （饼图/柱状图） -->
            <div class="layui-row" style="height: 250px;">
                <!-- 饼图 -->
                <div class="layui-col-md3">&nbsp;</div>
                <div class="layui-col-md6" id="Member-PieChart"></div>
                <div class="layui-col-md3">&nbsp;</div>
            </div>
            
            <!-- 第二部分 -->
            <div class = "layui-row" >
                <!-- 时间选择 -->
                <div class="layui-col-md12">
                    <!-- 开始时间 -->
                    <div class="layui-col-md1" style="margin-left: 30px;">
                        <div class="layui-row">
                            <div class="layui-col-md7"><input type="text" class="layui-input" id="start-time"></div>
                        </div>
                    </div>

                    <div class="layui-col-md1" style="text-align: center;">  </div>

                    <!-- 结束时间 -->
                    <div class="layui-col-md1">
                        <input type="text" class="layui-input" id="end-time">
                    </div>
                    <div class="layui-col-md8"></div>
                </div>
                <!-- 成员数量时间变化图 -->
                <div class="layui-col-md12" id="Member-TimeLineChart"></div>
            </div>

            <!-- 第三部分 -->
            <div class = "layui-row" >     
                <!-- 分地区的小组数量统计图（分category） -->
                <div class="layui-col-md12" id="Member-ScatterChart">
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
</body>
</html>