<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.cityu.ds.report.mapper.EventMapper">

    <select id="getCount" resultType="Integer">
        SELECT count(*) FROM events
    </select>

    <select id="getEventById" parameterType="Integer" resultType="edu.cityu.ds.report.entity.Event">
        SELECT * from events where event_id=#{eventId}
    </select>

</mapper>
