<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.cityu.ds.report.mapper.GroupMapper">

    <select id="getCount" resultType="Integer">
        SELECT count(*) FROM groups
    </select>

    <select id="getGroupById" parameterType="Integer" resultType="edu.cityu.ds.report.entity.Group">
        SELECT * from groups where group_id=#{groupId}
    </select>

    <select id="listGroupNumByCategoryCity" parameterType="String" resultType="java.util.HashMap">
        SELECT category_id, city_id, count(*) as num
        FROM groups
        GROUP BY category_id, city_id
    </select>

    <select id="listGroupNumByCity" parameterType="String" resultType="java.util.HashMap">
        SELECT city_id, count(*) as num
        FROM groups
        GROUP BY city_id
    </select>

    <select id="listGroupNumByCategory" parameterType="String" resultType="java.util.HashMap">
        SELECT category_id, count(*) as num
        FROM groups
        GROUP BY category_id
    </select>

    <select id="listGroupNumByDate" resultType="java.util.HashMap">
        SELECT DATE_FORMAT(created, #{period}) as time, count(*) as num
        FROM groups
        <where>
            <if test="cityId != null">
                city_id = #{cityId}
                <if test="startDate != null and endDate != null">
                    and created &gt; #{startDate} and created &lt; #{endDate}
                </if>
                <if test="startDate != null and endDate == null">
                    and created &gt; #{startDate}
                </if>
                <if test="startDate == null and endDate != null">
                    and created &lt; #{endDate}
                </if>
            </if>
            <if test="cityId == null">
                <if test="startDate != null and endDate != null">
                    created &gt; #{startDate} and created &lt; #{endDate}
                </if>
                <if test="startDate != null and endDate == null">
                    created &gt; #{startDate}
                </if>
                <if test="startDate == null and endDate != null">
                    created &lt; #{endDate}
                </if>
            </if>
        </where>
        GROUP BY time
    </select>
</mapper>
